@model EventEase.Models.Event
<h1>Edit</h1>
<form asp-action="Edit">
    <input type="hidden" asp-for="EventId" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="StartDate"></label>
        <input asp-for="StartDate" type="datetime-local" class="form-control" value="@Model.StartDate.ToString("yyyy-MM-ddTHH:mm")" />
    </div>
    <div class="form-group">
        <label asp-for="EndDate"></label>
        <input asp-for="EndDate" type="datetime-local" class="form-control" value="@Model.EndDate.ToString("yyyy-MM-ddTHH:mm")" />
    </div>
    <div class="form-group">
        <label asp-for="OrganizerName"></label>
        <input asp-for="OrganizerName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="OrganizerEmail"></label>
        <input asp-for="OrganizerEmail" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
<div><a asp-action="Index">Back to List</a></div>